@using Clients.Events;
@inject EventsClient eventsClient;
@inject NavigationManager Navigation
@page "/venues/{id:guid}"
@rendermode InteractiveServer

<PageTitle>Add Venue</PageTitle>

<h1>Add Venue</h1>

<form class="row g-3">
    <div>
        <label for="venueName" class="form-label">Name</label>
        <input type="text" class="form-control" id="venueName" placeholder="Optus Stadium" @bind="Name">
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary" @onclick="SaveVenue">Save</button>
    </div>
</form>

@code {
    [Parameter]
    public Guid Id { get; set; }

    public string Name { get; set; } = "";
    public EventCallback<string> NameChanged { get; set; }

    private async Task SaveVenue()
    {
        var request = new Clients.Events.Models.CreateVenueRequest { Name = Name };
        await eventsClient.Api.V1.Venues.PostAsync(request);
        Navigation.NavigateTo("/venues");
    }
}
