@using Clients.Events;
@using Clients.Events.Models;
@inject EventsClient eventsClient;
@page "/events"
@attribute [StreamRendering]

<PageTitle>Events</PageTitle>

<h1>Events</h1>

<p>Lists all events.</p>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @* <th>Date</th>
                <th aria-label="Temperature in Celsius">Temp. (C)</th>
                <th aria-label="Temperature in Farenheit">Temp. (F)</th> *@
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in events)
            {
                <tr>
                    <td>@forecast.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<Clients.Events.Models.EventResponse>? events;

    protected override async Task OnInitializedAsync()
    {
        var eventsResponse = await eventsClient.Api.V1.Events.GetAsync();
        events = eventsResponse.Items!;//.Select(i => new Event { Name = i.Name }).ToList();
    }
}
